name: Deploy

on:
  push:
    branches: [ main ]

env:
  PLATFORMS: linux/amd64,linux/arm64

jobs:
  build-reconnector:
    name: Build Bluetooth Reconnector
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: pinkynrg
          password: ${{ secrets.DOCKER_HUB_LOGIN_TOKEN }}

      - name: Build and Push Reconnector
        id: build-reconnector
        env:
          REGISTRY_NAME: pinkynrg
          REPOSITORY_NAME: bluetooth-speaker-reconnector
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v4
        with:
          context: ./bluetooth-reconnector
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: |
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:latest
          cache-from: type=registry,ref=${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:buildcache,mode=max

  build-snapserver:
    name: Build Snapserver
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: pinkynrg
          password: ${{ secrets.DOCKER_HUB_LOGIN_TOKEN }}

      - name: Build and Push Snapserver
        id: build-snapserver
        env:
          REGISTRY_NAME: pinkynrg
          REPOSITORY_NAME: snapserver
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v4
        with:
          context: ./snapserver
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:latest
          cache-from: type=registry,ref=${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:buildcache,mode=max

  build-snapclient:
    name: Build Snapclient
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: pinkynrg
          password: ${{ secrets.DOCKER_HUB_LOGIN_TOKEN }}

      - name: Build and Push Snapclient
        id: build-snapclient
        env:
          REGISTRY_NAME: pinkynrg
          REPOSITORY_NAME: snapclient
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v4
        with:
          context: ./snapclient
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: |
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:latest
          cache-from: type=registry,ref=${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:buildcache,mode=max

  build-bluetooth-receiver:
    name: Build Bluetooth Receiver
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: pinkynrg
          password: ${{ secrets.DOCKER_HUB_LOGIN_TOKEN }}

      - name: Build and Push Bluetooth Receiver
        id: build-bluetooth-receiver
        env:
          REGISTRY_NAME: pinkynrg
          REPOSITORY_NAME: bluetooth-receiver
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v4
        with:
          context: ./bluetooth-receiver
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: |
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:latest
          cache-from: type=registry,ref=${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:buildcache,mode=max
