name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-reconnector:
    name: Build Bluetooth Reconnector
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: pinkynrg
          password: ${{ secrets.DOCKER_HUB_LOGIN_TOKEN }}

      - name: Build and Push Reconnector
        id: build-reconnector
        env:
          REGISTRY_NAME: pinkynrg
          REPOSITORY_NAME: bluetooth-speaker-reconnector
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v4
        with:
          context: ./bluetooth-reconnector
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:latest

  build-snapserver:
    name: Build Snapserver
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: pinkynrg
          password: ${{ secrets.DOCKER_HUB_LOGIN_TOKEN }}

      - name: Build and Push Snapserver
        id: build-snapserver
        env:
          REGISTRY_NAME: pinkynrg
          REPOSITORY_NAME: librespot-snapserver
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v4
        with:
          context: ./snapserver
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:latest

  build-snapclient:
    name: Build Snapclient
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: pinkynrg
          password: ${{ secrets.DOCKER_HUB_LOGIN_TOKEN }}

      - name: Build and Push Snapclient
        id: build-snapclient
        env:
          REGISTRY_NAME: pinkynrg
          REPOSITORY_NAME: snapclient
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v4
        with:
          context: ./snapclient
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:latest
